/* 重复样式 */
.header img,
.top-search,
.top-login {
  /* 上外边距 */
  margin-top: 23px;
}

.header,
.nav {
  /* 宽度 */
  width: 1400px;
  /* 高度 */
  height: 80px;
  /* 内容居中 */
  margin: 0 auto;
  /* 相对定位 */
  position: relative;
}

/* 头部开始 */
.header {
  /* 使用flex布局 */
  display: flex;
  /* 水平对齐方式 */
  /* justify-content: space-between; */
}
.header-right{
  /* 绝对定位 */
  position: absolute;
  /* 右边距 */
  right: 50px;
  /* 使用flex布局 */
  display: flex;
}

/* 搜索 */
.top-search {
  /* 宽度 */
  width: 350px;
  /* 高度 */
  height: 34px;
  /* 背景颜色 */
  background-color: #f3f6f8;
  /* 边框颜色 */
  border: 1px solid #dfdfdf;
  /* 圆角 */
  border-radius: 4px;
  /* 行高 */
  line-height: 32px;
  /* 相对定位 */
  position: relative;
}
 
/* 搜索框 */
.top-search input {
  /* 背景颜色 */
  background: none;
  /* 边框 */
  border: 0;
  /* 字体大小 */
  font-size: 14px;
  /* 高度 */
  height: 28px;
  /* 行高 */
  line-height: 22px;
  /* 内边距 */
  padding: 4px 10px;
  /* 宽度 */
  width: 287px;
  /* 去除轮廓 */
  outline: none;
}

/* 搜索按钮 */
.top-search button {
  /* 边框 */
  border: 0;
  /* 字体大小 */
  font-size: 14px;
  /* 行高 */
  line-height: 22px;
  /* 内边距 */
  padding: 6px 10px;
  /* 绝对定位 */
  position: absolute;
  /* 右边距 */
  right: 0;
  /* 上边距 */
  top: 0;
  /* 字体颜色 */
  color: #fff;
  /* 背景颜色 */
  background-color: #428bca;
  /* 边框颜色 */
  border-color: #357ebd;
  /* 圆角 */
  border-radius: 4px;
}

/* 头部结束 */
/* 导航栏开始 */
.nav {
  /* 背景颜色 */
  background-color: #1479d7;
  /* 圆角 */
  border-radius: 3px;
  /* 字体大小 */
  font-size: 18px;
  /* 高度 */
  height: 50px;
  /* 左内边距 */
  padding-left: 20px;
  /* 相对定位 */
  position: relative;
}

.nav ul {
  /* 使用flex布局 */
  display: flex;
}

.nav a {
  /* 宽度 */
  width: 79px;
  /* 显示为块级元素 */
  display: block;
  /* 文本居中 */
  text-align: center;
  /* 行高 */
  line-height: 50px;
}

.nav a:hover {
  /* 背景颜色 */
  background-color: #3d8ed9;
  /* 圆角 */
  border-radius: 5px;
  /* 字体颜色 */
  color: #fff;
}

/* 导航栏结束 */
/* 要闻 开始*/
.box {
  /* 使用flex布局 */
  display: flex;
  /* 宽度 */
  width: 1400px;
  /* 内容居中 */
  margin: 0 auto;
  /* 两端对齐 */
  justify-content: space-between;
  /* 自动换行 */
  flex-wrap: wrap;
}

.box-content {
  /* 宽度 */
  width: 440px;
}

.box-content .title {
  /* 使用flex布局 */
  display: flex;
  /* 两端对齐 */
  justify-content: space-between;
  /* 字体大小 */
  font-size: 24px;
  /* 外边距 */
  margin: 20px 0;
  /* 下边框颜色 */
  border-bottom: 1px solid #c9dff4;
}

.box-content a:hover {
  /* 字体颜色 */
  color: #1479d7;
}

/* 选择第一个 */
.title a:first-child {
  /* 下边框颜色 */
  border-bottom: 4px solid #0276da;
  /* 字体颜色 */
  color: #1479d7;
}

/* 选择最后一个 */
.title a:last-child {
  /* 字体大小 */
  font-size: 16px;
  /* 行高 */
  line-height: 44px;
  /* 字体颜色 */
  color: #000;
}

/* 文章 */
.article li {
  /* 隐藏溢出内容 */
  overflow: hidden;
  /* 文本超出显示省略号 */
  text-overflow: ellipsis;
  /* 不换行 */
  white-space: nowrap;
  /* 行高 */
  line-height: 32px;
  /* 字体颜色 */
  color: #000;
}

.article a {
  /* 字体颜色 */
  color: #000;
}

/* 文章推荐 */
.article-ban {
  /* 使用flex布局 */
  display: flex;
  /* 两端对齐 */
  justify-content: space-between;
  /* 宽度 */
  width: 100%;
  /* 下边距 */
  margin-bottom: 20px;
}

/* 文章推荐图片 */
.article-ban img {
  /* 高度 */
  height: 106px;
  /* 宽度 */
  width: 230px;
  /* 圆角 */
  border-radius: 5px;
}

/* 文章推荐右侧文字 */
.ban-text {
  /* 字体大小 */
  font-size: 14px;
  /* 高度 */
  height: 106px;
  /* 宽度 */
  width: 186px;
  /* 相对定位 */
  position: relative;
}

.ban-text p {
  /* 绝对定位 */
  position: absolute;
  /* 底边距 */
  bottom: 0;
}

.ban-text p a {
  /* 字体颜色 */
  color: #64788c;
}
p{
  /* 字体颜色 */
  color: #fff;
}

/* 要闻 结束*/
