.modal{
    position:fixed;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    left: 0px;
    top: 0px;
    display: none;
}
.container{
    width: 408px;
    height: 362px;
    background: #fff;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    position:absolute;
    box-sizing: border-box;
    border-radius: 8px;
}
/* 关闭 */
.close{
    width: 30px;
    height: 30px;
    background: #428bca;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: -15px;
    top: -15px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: .3s;
}
.close:hover{
    transform: rotate(180deg);
}
/* 登录 */
.login{
    text-align: center;
}
.text{
    font-size: 20px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 30px;
}
.login-content input{
    width: 300px;
    height: 40px;
    background: #F3F3F4;
    border-radius: 8px;
    border: 1px solid #F3F3F4;
    margin-bottom: 30px;
    padding: 0 16px;
    outline: none;
}
.login-content input:focus{
    background-color: #fff;
    box-shadow: 0 0 0 1px #428bca;
    border-color: #428bca;
}

/* 登录 */
.top-login{
    width: 52px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    background-color: #3979d1;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-left: 10px;
  }
  .top-login a{
    color: #fff;
  }
/* 确认登录 */
.login-sub{
    width: 330px;
    height: 48px;
    line-height: 48px;
    color: #fff;
    background: #17A1FF;
    border-radius: 24px;
    margin: 0 auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.login-sub:hover{
    box-shadow: 0px 6px 8px 0px rgba(23, 161, 255, 0.4);
}

/* 已登录状态 */
.i-login{
    position: absolute;
    top: 0;
    padding-left: 23px;
}
.i-login img{
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.i-down ul{
    display: none;
    /* width: 110px; */
    background-color: #f5f8fc;
    border: 1px solid #cae0f3;
    font-size: 14px;
    line-height: 35px;
    margin-left: -85px;
    padding: 8px 15px;
    position: absolute;
    top: 65px;
    right: 0;
    z-index: 1;
}
.i-down {
    height: 100px;
}
.i-down ul li{
    border-bottom: 1px dashed #ddd;
}
.i-down ul a{
    color: #000;
}
.i-down ul a:hover{
    color: #0c82ff;
}

.i-login:hover .i-down ul{
    display: block;
}